body {
    font-family: 'Montserrat', sans-serif;
    background: #F5F7FA;
}

aside {
    background: #1E2939;
    color: white;
}


li {
    color: #595959;
}

.Under {
    color: #A8A8A8;
}

.Photo {
    margin: 30px 0px 0px 0px;
}

.wrapper {
    background: #FFFFFF;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 0 auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    width: 1200px;
    height: 1319px;
}

.Description{

    margin: 10px;
    padding: 10px;
}

.Work-Description {

    margin: 5px;
    padding: 5px;
}