body {
    font-family: 'Montserrat', sans-serif;
    background: #F5F7FA;
}

aside {
    background: #1E2939;
    color: white;
    width: 370px;
    height: 1319px;
}

aside li::marker {
        color: #FB6D3A
}

aside a{

    margin-left: 5px;

}

.list {
    color: #595959;
}


.list-secondary {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    padding-left: 0px;
    list-style-position: inside;
}

.Under {
    color: #A8A8A8;
}


.bold {

    font-weight: 700;

}
.link-left {
    color: white;
    font-size: 14px;
    line-height: 24px;
}

.Photo {
    margin: 25px 0px 0px 0px;
}

.wrapper {
    background: #FFFFFF;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 0 auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    width: 1200px;
    height: 1319px;
}

.Description{

    margin: 10px;
    padding: 10px;
}

.Description-left {
    margin-left: 40px;
    margin-top: 40px;
}

.orange {
    color: #FB6D3A
}

.Work-Description {

    margin: 5px;
    padding: 5px;
}